*{
    margin: 0;
    padding: 0 ;
}

body{

    background-color: royalblue;
}


main{

    width: 900px;
    max-width: 90%;
    margin: 0 auto;
}

section{
    background-color: white;
    padding: 1em;
    margin: 1em ;
    border-radius: 10px;
}

.section-title{

    color: grey;
}

.top-friends , .blogs,.courses{

    display: grid;
    
    grid-gap: 30px;
    margin-top: 20px;
    place-items: center;
}

.top-friends,.courses{

    grid-template-columns: repeat(3,1fr);
}

.blogs{

    grid-template-columns: repeat(2,1fr);
}

.friend,.blog {

    display: flex;
    align-items: center;
}

.friend img{

    height: 50px;
    margin-right: 20px;
}

.thumbnail img{
    width: 200px;
    margin-right: 20px;
}

.course-info{
    display: flex;
}

.course img{

    width: 200px;
}


@media (max-width:992px){
    .top-friends, .courses{
        grid-template-columns: repeat(2,1fr);
    }

    .blogs{

        grid-template-columns: repeat(1,1fr);
    }

    
}

@media (max-width:668px){
    .top-friends, .courses{
        grid-template-columns: repeat(1,1fr);
    }

    .blog{
        display: block;
}

    
}